#error_message {
    color : red;
    font-size: 15px;
}


#section-header{
    font-size: 25px;
    font-weight: bold;
    padding-left: 17px;
}

#label-list{
    padding-left: 17px;
}

.col{
    font-size: 15px;
}
.row{
    font-size: 15px;
}

#t-test{
    font-weight: bold;
    font-size: 25px;
}
#drift-score{
    font-size: 50px;
    font-weight: bold;
}

 .panel-body  {
    word-break: break-word;
    word-wrap: break-word;
}

.tooltip {
            position: relative;
            font-size: 8px;
            width:  auto;
            height: auto;
            pointer-events: none;
            background-color: white;
        }
