html {
    background: #f2f2f2;
}
h4 {
    margin-bottom: 16px !important;
}
.explanation {
    margin-bottom: 24px;
}
#label-list{
    padding-left: 17px;
}
#drift-score{
    font-size: 50px;
}
.tooltip {
    position: relative;
    font-size: 8px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}
.fatal-error {
    white-space: pre-wrap;
    text-align: left !important;
}

.low-risk{
    color: green;
}

.medium-risk{
    color: orange;
}

.high-risk{
    color: red;
}